<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RFIDView.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="RFIDViewUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RFIDView.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RFIDView.Properties.Settings>
            <setting name="Description" serializeAs="String">
                <value>RFIDView is a user interface designed for watching RFID activities recorded by Business Modules running from within RFIDAnywhere. The UI also permits the writing of userdata and tag ids onto read tags.</value>
            </setting>
        </RFIDView.Properties.Settings>
        <RFIDViewUI.Properties.Settings>
            <setting name="Description" serializeAs="String">
                <value>RFIDView is a user interface designed for watching RFID activities recorded by Business Modules running from within RFIDAnywhere. The UI also permits the writing of userdata and tag ids onto read tags.</value>
            </setting>
        </RFIDViewUI.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <RFIDView.Properties.Settings>
            <setting name="url" serializeAs="String">
                <value>tcp://localhost:8383/RnManager</value>
            </setting>
            <setting name="guid" serializeAs="String">
                <value>82c5e44a-c4bb-4728-a664-6fae9866d2ba</value>
            </setting>
        </RFIDView.Properties.Settings>
    </userSettings>
</configuration>